body{
    font-family: verdana;
}

h1{
    color: rgb(48, 48, 150);
}

form{
    background-color:lightgrey;
    display:flex;
    flex-direction: column;
    border: solid 2px rgb(48, 48, 150);
}

form > *{
    margin: 0.5rem;
}

input, button{
    height: 2rem;
}